In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
nc=pd.read_csv("C:/Users/naras/OneDrive/Desktop/emojis.csv")
nc

,Hex,Rank,Emoji,Year,Category,Subcategory,Name
0,\x{1F602},1,üòÇ,2010,Smileys & Emotion,face-smiling,face with tears of joy
1,\x{2764 FE0F},2,‚ù§Ô∏è,2010,Smileys & Emotion,emotion,red heart
2,\x{1F923},3,ü§£,2016,Smileys & Emotion,face-smiling,rolling on the floor laughing
3,\x{1F44D},4,üëç,2010,People & Body,hand-fingers-closed,thumbs up
4,\x{1F62D},5,üò≠,2010,Smileys & Emotion,face-concerned,loudly crying face
...,...,...,...,...,...,...,...
1544,\x{1F1F3 1F1F7},1545,üá≥üá∑,2015,Flags,country-flag,flag: Nauru
1545,\x{1F1F2 1F1F6},1546,üá≤üá∂,2015,Flags,country-flag,flag: Martinique
1546,\x{1F1EC 1F1F5},1547,üá¨üáµ,2015,Flags,country-flag,flag: Guadeloupe
1547,\x{1F9B2},1548,ü¶≤,2018,Component,hair-style,bald
1548,\x{1F9B3},1549,ü¶≥,2018,Component,hair-style,white hair

In [6]:
nc.head()

,Hex,Rank,Emoji,Year,Category,Subcategory,Name
0,\x{1F602},1,üòÇ,2010,Smileys & Emotion,face-smiling,face with tears of joy
1,\x{2764 FE0F},2,‚ù§Ô∏è,2010,Smileys & Emotion,emotion,red heart
2,\x{1F923},3,ü§£,2016,Smileys & Emotion,face-smiling,rolling on the floor laughing
3,\x{1F44D},4,üëç,2010,People & Body,hand-fingers-closed,thumbs up
4,\x{1F62D},5,üò≠,2010,Smileys & Emotion,face-concerned,loudly crying face

In [7]:
nc.tail()

,Hex,Rank,Emoji,Year,Category,Subcategory,Name
1544,\x{1F1F3 1F1F7},1545,üá≥üá∑,2015,Flags,country-flag,flag: Nauru
1545,\x{1F1F2 1F1F6},1546,üá≤üá∂,2015,Flags,country-flag,flag: Martinique
1546,\x{1F1EC 1F1F5},1547,üá¨üáµ,2015,Flags,country-flag,flag: Guadeloupe
1547,\x{1F9B2},1548,ü¶≤,2018,Component,hair-style,bald
1548,\x{1F9B3},1549,ü¶≥,2018,Component,hair-style,white hair

In [9]:
nc.describe()

              Rank         Year
count  1549.000000  1549.000000
mean    775.000000  2012.899935
std     447.302098     2.813484
min       1.000000  2010.000000
25%     388.000000  2010.000000
50%     775.000000  2014.000000
75%    1162.000000  2015.000000
max    1549.000000  2018.000000

In [27]:
nc.dtypes

 Hex           object
Rank            int64
Emoji          object
Year            int64
Category       string
Subcategory    object
Name           string
dtype: object

In [20]:
nc['Category']=nc['Category'].astype('string')

In [26]:
nc['Name']=nc['Name'].astype('string')

In [15]:
max=nc['Year'].max()
max

2018

In [16]:
min=nc['Year'].min()
min

2010

In [18]:
q=nc['Year'].quantile(0.15)
q

2010.0

In [ ]:
#pivot table
nc.pivot_table(index='Rank',columns=['Emoji'],values='Year')

In [ ]:
nc.isnull().sum()

In [ ]:
nc.plot(kind='bar')
plt.title('emoji of bar')
plt.xlabel('names of emoji')
plt.ylabel('ration of emoji')
plt.show()

In [ ]:
plt.hist(data='nc',x='Year')
plt.title('emoji histogram')
plt.xlabel('names of emoji')
plt.ylabel('ration of emoji')
plt.show()

In [ ]:
#pairplot
sns.pairplot(data=nc)
plt.title('emoji of pairplot')
plt.xlabel('names of emoji')
plt.ylabel('ration of emoji')
plt.show()
plt.show()

In [ ]:
nc1=pd.read_csv("C:/Users/naras/OneDrive/Desktop/hotel_bookings.csv")
nc1

In [ ]:
nc1.isnull().sum()

In [ ]:
#finding unique values from column 
nc1['country'].unique()

In [ ]:
nc1['country'].fillna('not depld',inplace=True)

In [ ]:
#finding the highest values from column using mode
mode=nc1['country'].mode().values[0]
mode

In [ ]:
#replacing or back filling nan values
nc1['country'].replace(np.nan,mode,inplace=True)

In [ ]:
nc1.plot(kind='bar')
plt.title('hotel information')
plt.xlabel('names of hotel')
plt.ylabel('ration of hotel')
plt.show()

In [ ]:
plt.hist(data='nc1',x='Year')
plt.title('emoji histogram')
plt.xlabel('names of emoji')
plt.ylabel('ration of emoji')
plt.show()

In [ ]:
#pairplot
sns.pairplot(data=nc1)
plt.title('hotel information')
plt.xlabel('names of hotel')
plt.ylabel('ration of hotel')
plt.show()